@use '../styles/master' as *;

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 space(25);
  flex: 0 0 100%;
  width: 100%;

  h2 {
    @include typoH2caps;
    @include margin(0, 0, 8);
    text-align: center;
  }

  .disclaimer {
    @include typoM;
  }

  .socials {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    flex-wrap: wrap;

    .social {
      flex: 0 0 rem-calc(64);
      height: rem-calc(64);
      align-items: center;
      align-content: center;
      @include margin(0, 3, 5);

      a {
        display: flex;
        flex: 0 0 rem-calc(64);
        height: rem-calc(64);
        justify-content: center;
        align-items: center;
        align-content: center;
        opacity: 1;
        transition: opacity 0.5s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@media only screen and (min-width: $bpDesktopLow) {
  .footer {
    h2 {
      @include typoH2capsDesktop;
    }

    .socials {
      flex-wrap: nowrap;

      .social {
        @include margin(0, 3, 10);
      }
    }
  }
}
